*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 200vh;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}
