*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Cardcontainer{
    /* background-Color: red; */
    height: 100vh;
    display: flex;
    flex-Direction: column;
    align-Items: center;
    justify-Content: center;
}